@font-face {
  font-family: "RobotoRegular";
  src: local("RobotoRegular"),
    url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}

.font-face-roboto {
  font-family: "RobotoRegular";
}

.crop {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}

.crop img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
